@charset "UTF-8";
/* 
Tudo que em html id e em css vira #
(em html é id = em css é #)
(Em html é class = em css é .)
*/

body {
    background-color: rgb(135, 205, 205);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: rgb(62, 119, 177);
}

#principal {
    text-align: center;
    background-color: rgb(67, 113, 115);
    color: rgb(15, 14, 14);
}

h2 {
    color: rgb(37, 72, 107);
}
.basico {
    color: rgb(37, 72, 107);
}

.intermediario {
    color: rgb(17, 86, 63);

}

.avancado {
    color: brown;

}

.destaque {
    background-color: rgba(131, 39, 217, 0.322);
}